<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Top Songs</title>


    <link rel="stylesheet"  href="/static/main.css">

</head>
<body>

    <script type="text/javascript" src="/static/functions.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Top 50 Songs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a {%if type == 0 %}  class= "nav-item nav-link active" {% else %} class= "nav-item nav-link" {% endif %}  href="/global">Global   </a>
      <a {%if type == 1 %}  class= "nav-item nav-link active" {% else %} class= "nav-item nav-link" {% endif %} href="/usa">USA</a>
      <a {%if type == 2 %}  class= "nav-item nav-link active" {% else %} class= "nav-item nav-link" {% endif %} href="/canada">Canada</a>
        <a {%if type == 3 %}  class= "nav-item nav-link active" {% else %} class= "nav-item nav-link" {% endif %} href="/mexico">Mexico</a>
    </div>
  </div>
</nav>



    <div id="card" >

    {% for song in songs[limit-10:limit] %}


    <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{{song.image}}" class="card-img" alt="{{song.songName}}">
    </div>
    <div class="col-md-8">
    <div class="card-body">
    <h5 class="card-title">{{song.songName}}</h5>

    <p class="card-text"><small class="text-muted">{{song.artists}}</small></p>
    {% if song.mp3 %}
    <button class="btn btn-primary" name="play" value="{{song.mp3}}" onClick="play(this.value)" id="{{song.mp3}}">Play</button>
    {% endif %}
    </div>
    </div>
    </div>
    </div>
    {% endfor %}
    </div>

    <br>
    <div id="results">
        <p>Results {{limit-9}}-{{limit}}</p>



        {% if limit > 10 %}
        <button type="button" value="{{limit}}" onClick="location.href='http://localhost:5000/{{path}}?limit={{limit-10}}'" class="btn btn-secondary">Back</button>
        {% endif %}

        {% if limit < 50 %}
        <button type="button" value="{{limit}}" onClick="location.href='http://localhost:5000/{{path}}?limit={{limit+10}}'" class="btn btn-secondary">Next</button>
        {% endif %}

    </div>
<script>
    document.getElementById("card").style.paddingLeft = "12px";
     document.getElementById("card").style.paddingTop = "12px";

     document.getElementById("results").style.paddingLeft = "12px";
     document.getElementById("results").style.paddingBottom = "30px";
</script>


</body>
</html>